%search__icon {
  position: absolute;
  cursor: pointer;
}

%search {
  -webkit-appearance: none;
  padding: 10px;
  background-color: $white;
  border: none;
  border-radius: 5px;
  font: {
    weight: 300;
    family: "aktiv-grotesk-std", sans-serif;
  }
  color: $black;
  outline: none;
  &::-webkit-input-placeholder {
    color: $red;
  }
  &:-moz-placeholder {
    color: $red;
  }
  &::-moz-placeholder {
    color: $red;
  }
  &:-ms-input-placeholder {
    color: $red;
  }
}

.header__search-wrap {
  position: relative;
  @extend %box-sizing;
  @media (max-width: 1019px) {
    margin-top: 8px;
    padding: {
      right: 10px;
      bottom: 8px;
      left: 16px;
    }
    @-moz-document url-prefix() {
      margin-top: 7px;
      padding-bottom: 6px;
    }
  }
  @media (min-width: 1020px) {
    margin: {
      top: 18px;
      right: 16px;
      left: 80px;
    }
    float: left;
  }
  @media (min-width: 1020px) and (max-width: 1139px) {
    width: 260px;
  }
  @media (min-width: 1140px) {
    width: 360px;
  }
}

.header__search-wrap--home {
  @extend .header__search-wrap;
  @media (min-width: 1020px) {
    display: none;
  }
}

.header__search__icon {
  @extend %search__icon;
  top: 6px;
  right: 5px;
  border: none;
  background-color: transparent;
  font: {
    size: 16px;
    family: "icomoon";
  }
  color: #fa3c29;
  @include transition-duration(.25s);
  @include transition-property(color);
  @media (max-width: 1019px) {
    right: 15px;
  }
  &:hover, &:focus {
    color: #fa3c29;
    outline: none;
  }
}

.header__search {
  @extend %search;
  @extend %box-sizing;
  padding: 8px 32px 8px 8px;
  width: 100%;
  box-shadow: 0 0 0px 3px rgba($black, .1);
  font-size: 15px;
  &::-webkit-input-placeholder {
    color: $red;
  }
  &:-moz-placeholder {
    color: $red;
  }
  &::-moz-placeholder {
    color: $red;
  }
  &:-ms-input-placeholder {
    color: $red;
  }
  &:hover, &:focus {
    & ~ .header__search__icon {
      color: $red;
    }
  }
}
