.body--index, .header--interior {
  background-image: url("/images/red.jpg");
}

.body--index {
  background-size: cover;
}

.header--interior {
  background-size: 100% auto;
}

main, .header, .footer {
  @media (max-width: 1019px) {
    position: relative;
    left: 0;
    overflow: hidden;
    @include transition-duration(.25s);
    @include transition-property(left);
    &.mobile-nav-is-expanded {
      left: -270px;
    }
  }
}

main, .header {
  @media (max-width: 1019px) {
    &.mobile-nav-is-expanded {
      overflow: visible;
    }
  }
}

main {
  display: block; // For IE 11
}

.footer {
  @media (max-width: 1019px) {
    &.mobile-nav-is-expanded {
      overflow: hidden;
    }
  }
}

.main--interior {
  background-color: $white;
  @media (max-width: 929px) {
    padding-bottom: 86px;
  }
  @media (min-width: 930px) {
    padding-bottom: 175px;
  }
}

.page__heading {
  margin-bottom: 45px;
  border-bottom: 1px solid $gray;
  @media (max-width: 929px) {
    padding: {
      top: 18px;
      bottom: 10px;
    }
  }
  @media (min-width: 930px) {
    padding: {
      top: 50px;
      bottom: 32px;
    }
  }
}

a.page__heading {
  display: block;
  color: $black;
  @include transition-duration(.25s);
  @include transition-property(color);
  &:focus, &:hover, &:active {
    color: $red;
  }
  &:focus {
    outline: none;
  }
}

.colspan--l--has-border {
  @media (min-width: 780px) {
    border-right: 1px solid $gray;
    .footer & {
      border-right-color: rgba($white, .1);
    }
  }
}

.push {
  margin-top: 60px;
}
